<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Contenido principal -->
    <div class="main-content">
        <!-- Navegación -->
        <%- include('partials/navigation') %>

        <!-- Sección de servicios -->
        <section class="service-section">
            <div class="service-container">
                <h3 class="service-title">Profesionales Educativos</h3>
                <p class="service-description">Encuentra el mejor profesor para tus necesidades académicas.</p>
                <button class="service-btn">Ver Disponibilidad</button>
            </div>
            <div class="service-container">
                <h3 class="service-title">Servicios Técnicos</h3>
                <p class="service-description">Soluciones técnicas para tu hogar o negocio.</p>
                <button class="service-btn">Ver Disponibilidad</button>
            </div>
            <div class="service-container">
                <h3 class="service-title">Servicios Creativos y de Diseño</h3>
                <p class="service-description">Encuentra el mejor profesor para tus necesidades académicas.</p>
                <button class="service-btn">Ver Disponibilidad</button>
            </div>
            <div class="service-container">
                <h3 class="service-title">Servicios de Salud y Bienestar</h3>
                <p class="service-description">Soluciones técnicas para tu hogar o negocio.</p>
                <button class="service-btn">Ver Disponibilidad</button>
            </div>
            <div class="service-container">
                <h3 class="service-title">Servicios de Asistencia y Cuidado</h3>
                <p class="service-description">Encuentra el mejor profesor para tus necesidades académicas.</p>
                <button class="service-btn">Ver Disponibilidad</button>
            </div>
            <div class="service-container">
                <h3 class="service-title">Servicios de Mantenimiento y Limpieza</h3>
                <p class="service-description">Soluciones técnicas para tu hogar o negocio.</p>
                <button class="service-btn">Ver Disponibilidad</button>
            </div>
            <!-- Puedes agregar más cuadros de servicio aquí -->
        </section>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>